
.img200x200{
    width: 200px;
    height: 200px;
    border: 2px solid hotpink;
    border-radius: 10px;
}
.box{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h3{
    margin: 1px;
}
h2{
    margin: 3px;
}
p{
    text-align: center;
}
.fa-heart{
    color:red;
}